<div class="col-12">Registro de cuenta</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" style="width: 500px;">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Contraseña</label>
    <input  class="form-control" id="exampleFormControlInput1" style="width: 500px;">
  </div>
  
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Nombres</label>
    <input  class="form-control" id="exampleFormControlInput1" style="width: 500px;">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Apellidos</label>
    <input  class="form-control" id="exampleFormControlInput1" style="width: 500px;">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">DNI</label>
    <input  class="form-control" id="exampleFormControlInput1" style="width: 500px;">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Perfil</label>
    <input  class="form-control" id="exampleFormControlInput1" style="width: 500px;">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Numero de Celular</label>
    <input  class="form-control" id="exampleFormControlInput1" style="width: 500px;">
  </div>